<footer>
    <div class="footer-contacts">
        <h3>Contatos</h3>
        <address>
            <p><a href="mailto:{{EMAIL}}"><img src="/public/assets/icon/envelope.svg" alt="E-mail"></a></p>
            <p><a target="_blank" href="{{GITHUB}}"><img src="/public/assets/icon/github.svg" alt="Github"></a></p>
            <p><a target="_blank" href="{{LINKEDIN}}"><img src="/public/assets/icon/linkedin.svg" alt="Linkedin"></a>
            </p>
        </address>
    </div>
    <div class="footer-copy">
        <p>Feito por <b>Lucas Alves &copy;</b> Última atualização - {{UPDATE}}</p>
    </div>
</footer>