<main>
    <section class="container-search-section">
        <div class="area-limit search-section">
            <div class="home-title">
                <h1>Um banco de Imagem totalmente Grátis</h1>
                <p>Sentenas de imagens em alta qualidade para seus projetos</p>
            </div>
            <div class="container-search-form">
                <form action="#" method="get">
                    <div>
                        <label for="form-search" hidden>Buscar</label>
                        <button class="submit-input"><i class="bi bi-search"></i></button>
                        <input class="search-input" type="text" name="search" id="form-search" placeholder="Pesquisar por imagem"/>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="contact-me-section">
        <div>
            <h2>Imagens e vídeos gratuitos para utilizar em qualquer lugar</h2>
            <p>Utilize as imagens com licença gratuita sem ser necessário pedir permissão ao autor</p>
        </div>
    </section>
</main>